.outer-square {
  width: 600px;
  height: 600px;
  background-color: #fff;
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr); 
  gap: 10px;
}

.inner-square {
  /* your css goes here */
  background-color: green;
  border-radius: 0
}
.circle {
  /* your css goes here */
  background-color: blue;
  border-radius: 50%;
}
